@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

@font-face {
  font-family: 'Cookie';
  src: url('./fonts/Cookie/Cookie-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

nextjs-portal {
  display: none;
}

.backImg{
  background: linear-gradient(
    to right,
    #7a53cd70 20%,
    #00affa8f 30%,
    #0190cd75 70%,
    #754ada73 80%
  );
  /* -webkit-background-clip: text; */
  /* background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* text-fill-color: transparent; */
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}


@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

html {
  font-family: 'Cookie', sans-serif;
} 

.allChildrenDiv{
  
}